@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.header {
  color: #3a394c;
  background-color: rgba(255,255,255,0.5);
  height: 70px;
  position: sticky;
  z-index: 2;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 6px #00000029;

  .logotype {
    height: 120px;
    width: auto;
    cursor: pointer;
  }



  .nav-list {
    display: flex;
    list-style: none;

    a {
      text-decoration: none;
      color: #3a394c;

    }


    li {
      margin-left: 30px;
      font-family: 'Saira Extra Condensed';
      font-weight: 400;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 2px #3a394c;
      }
    }
  }
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #032943;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;

}

.banner {
  height: 100vh;
  background-image: url("./images/great-cocktails-qBJE30dBnNA-unsplash.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -70px;

}

  .banner-description {
  position: absolute;
  bottom: 80px;
  width: 400px;

  .class-title {
    font-size: 60px;
  }

  .btn-banner {
    background-color: #032943;
    font-family: 'Saira Extra Condensed';
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    padding: 6px 20px;
    width: 170px;
    cursor: pointer;
    margin-top: 20px;
  }
}



.discover {

  padding: 100px 0;
  background: linear-gradient(180deg, rgba(3,41,67,1) 15%, rgba(12,151,246,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 90vh;
    width: auto;
    //margin-left: -90px;


  }

  .description {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    height: 70vh;
    justify-content: center;
    margin-left: -150px;
    margin-right: 150px;
    padding: 0 100px;
    border-radius: 26% 74% 70% 30% / 63% 58% 42% 37%;


    p {
      font-size: 14px;
    }



    .btn {
      background-color: #032943;
      font-family: 'Saira Extra Condensed';
      font-size: 20px;
      font-weight: 400;
      color: white;
      border: none;
      padding: 6px 20px;
      width: 170px;
      cursor: pointer;
      margin-top: 20px;
    }
  }

}
.class-title {
  font-family: 'Saira Extra Condensed';
  font-size: 32px;
  font-weight: 600;
  color: #032943;
}

.our_cocktails {
  background-image: url("./images/great-cocktails-Sh83RLW-Zjc-unsplash.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;


  .cocktail-title {
    margin-top: 80px;
    font-family: "Saira Extra Condensed";
    font-size: 42px;
    color: white;
    font-weight: 600;
    position: relative;
  }


  .our_cocktails-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(3,41,67,1) 15%, rgba(12,151,246,0.7) 100%);
    height: 100%;

    z-index: 1;
    top: 0;
    left: 0;
  }

  .container-cocktails {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
  }

  .drink_recipe {
    background-color: #dfa4a9;
    padding: 20px;
    width: 100%;
    margin: 50px 0 100px 0;
    box-shadow: 0px 3px 6px rgb(41 42 45);
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      text-decoration: none;
      color: #032943;
      font-family: 'Montserrat', 'sans-serif';
      font-weight: 600;
      margin-top: 15px;

    }

    img {
      height: auto;
      max-width: 100%;
      padding: 0;
    }
  }


}

.generator {
  padding-top: 80px;
  background: linear-gradient(90deg, rgba(3,41,67,1) 0%, rgba(122,204,238,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .class-title {
    margin-bottom: 10px;
  }

  .generator-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;


    .generator_image {
      height: 70vh;
      width: auto;
      margin-top: 200px;

    }

    .form-container {

      .form-group {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 50px;


        .form-control {
          font-family: 'Montserrat', 'sans-serif';
          color: white;
          font-weight: 500;
          width: 501px;
          height: 42px;
          text-align: center;
          line-height: 22px;
          display: block;
          border: 2px solid white;
          border-radius: 40px;
          padding: 10px;
          color: #032943;
          margin-bottom: -55px;


        }

        label {
          position: relative;
          cursor: pointer;
          margin-right: 100px;
          font-family: 'Montserrat', 'sans-serif';
          color: white;
          font-weight: 500;
          z-index: 1;
          margin-top: 50px;
          margin-left: 34px;

          &:nth-child(1){
            margin-right: 115px;
          }
        }
      }

      .input-radio {
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
        cursor: pointer;


      }
      .input-radio::after {
        content: '';
        width: 100px;
        height: 22px;
        display: block;
        border: 2px solid white;
        border-radius: 40px;
        padding: 10px;
        transform: translate(-27%, -29%);
        text-align: center;
        line-height: 22px;


      }

      .input-radio:checked::after {
        background-color: #dfa4a9;
        border-color: white;
        z-index: -1;
      }



    }
  }

  .btn {

    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 500;
    padding: 10px;
    background-color: #032943;
    color: white;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    width: 501px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;

  }

  .invalid_ingredient {
    margin-left: -20px;
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    color: #d13030;
    font-weight: 400;

  }

  .ingredients {
    margin: 0;

    ul {
      display: flex;
      margin: 20px 0;
      list-style: none;

      li {
        border: 2px solid white;
        border-radius: 40px;
        padding: 10px;
        text-align: center;
        background-color: #dfa4a9;
        color: white;
        font-family: 'Montserrat', 'sans-serif';
        margin-right: 10px;
        text-align: center;

      }

      .btn-delete {
        border: none;
        font-family: 'Montserrat', 'sans-serif';
        color: white;
        font-weight: 600;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }


  .class-title {
    color: white;
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
    color: white;
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 600;
  }

  h3 {
    color: white;
    font-family: "Saira Extra Condensed", sans-serif;
  }

}

label {
  font-family: 'Montserrat';
}

ul {
  font-family: 'Montserrat';
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 376px;

}

.recipes{
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 16px;
  font-weight: 500;


  ul {
    list-style-type: "- ";
    margin-left: 20px;
  }
}

.drink_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 376px;

  p {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;
  }


}


.first_entry {
  background-image: url("./images/firstentry-img.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;

  .container-first_entry {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(180deg, rgba(212,149,157,1) 20%, rgba(212,149,157,0.5) 100%);
    height: 100%;

    z-index: 1;
    top: 0;
    left: 0;

    h1 {
      font-family: "Saira Extra Condensed", sans-serif;
      font-size: 42px;
      color: white;
    }

    h2 {
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: white;
      text-align: center;
    }
  }

}

.form-group {

  display: flex;
  flex-direction: row;

  .input-form-age {
    padding: 20px;
    margin: 3px;
    max-width: 33%;
    border: 1px solid white;
    border-radius: 3px;
    background-color: transparent;
    margin-top: 30px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;


    &::placeholder {
      color: white;
      text-align: center;
    }

  }
}

.btn-first_entry {
  width: 100%;
  background-color: #032943;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 50px;
  margin: 0px 0 20px 0;
  cursor: pointer;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 600;
  font-size: 14px;

}

.term_and_conditions {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: white;


}
// USUNIĘCIE STRZALEK DO ZWIEKSZANIA NUMERU W INPUCIE (WBUDOWANE W PRZEGLADARCE)

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-form-age.invalid {
  color: #d13030;
  border-color: #d13030;

}

.invalid_date {
  margin: 0 0 5px 0;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #d13030;

}

.footer {

  background-color: #032943;
  display: flex;
  justify-content: center;


  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;


    h3 {
      font-family: "Saira Extra Condensed", sans-serif;
      font-weight: 600;
      font-size: 32px;
      color: white;
      margin: 20px 0 10px 0;
    }

    p {
      color: white;
      font-size: 14px;
      font-family: 'Montserrat', 'sans-serif';

    }

    ul {
      display: flex;
      list-style: none;
      font-family: 'Montserrat', 'sans-serif';
      color: white;
      font-size: 14px;
      justify-content: space-evenly;
      margin: 50px 0 30px 0;
      width: 100%;
      cursor: pointer;


    }

  }
}

.icons {

  display: flex;

  .icon-socialmedia {
    color: white;
    width: 48px;
    height: 48px;
    margin: 0 5px 30px 5px;
    cursor: pointer;
  }

}